{% extends 'web/base.html' %}
{% load static %}
{% block contenido %}
    <div class="container">
    <!-- AGREGAR USUARIO DESDE ADMIN -->
        <br>
        <br>
        <form class="row g-3" method="POST">
            {% csrf_token %}
            <div class="col-md-4">
                <label for="validationServer01" class="form-label">First name</label>
                {{addform.nom}}
            </div>
            <div class="col-md-4">
                <label for="validationServer02" class="form-label">Last name</label>
                {{addform.snom}}
                
              
                </div>
            </div>
            <div class="col-md-4">
                <label for="validationServerUsername" class="form-label">E-mail</label>
                
                {{addform.email}}
                
            </div>
            <div class="col-md-6">
                <label for="validationServer03" class="form-label">Password</label>
                {{addform.password}}
                
            </div>
            
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Submit form</button>
            </div>
        </form>
        <!-- FIN AGREGAR USUARIO DESDE ADMIN -->
    </div>
    <br>
    <br>
{% endblock contenido %}


