{% extends 'web/base.html' %}
{% load static %}
{% block contenido %}
    <link rel="stylesheet" href="{% static 'app/css/login.css' %}"/>
    <!--Contenido-->
    
    <div class="my-espaciador"></div>
    <main>
      <div class="contenedor_todo">
          <div class="detras">
              <div class="detras_login">
                  <h3>¿Ya tienes cuenta?</h3>
                  <h3>Inicia Sesion para entrar en la pagina</h3>
                  <button id="btn_iniciar_sesion">Iniciar Sesion</button>
              </div>
              <div class="detras_registro">
                  <h3>¿Aun no tienes cuenta?</h3>
                  <h3>Registrate para que puedas iniciar sesion</h3>
                  <button id="btn_registrarse">Registrarse</button>
              </div>
          </div>
          <div class="contenedor_login_register">
              <form class="formulario_login" name="login" id="login" method="POST">
                  <h2>Iniciar Sesion</h2>
                  <input type="email" name="email_login" id="email_login" placeholder="ejemplo@correo.com">
                  <p class="error_email_l" id="error_email_l">este campo debe tener una estructura de correo valido: ejemplo@correo.com</p>
                  <input type="password" name="pass_login" id="pass_login" placeholder="Contraseña">
                  <input type="submit" value="Ingresar">
              </form>
              <form class="formulario_register" name="registro" id="registro" method="POST">
                  <h2>Registrarse</h2>
                  
                  {{registroForm}}

                  <input type="submit" value="Registrarse">
              </form>
          </div>
        </div>
    </main>

    <div class="my-espaciador"></div>

    <script src="{% static 'app/js/login.js' %} "></script>
    <script src="{% static 'app/js/formulario.js' %} "></script>

{% endblock contenido %}