{% extends 'web/base.html' %}
{% load static %}
{% block contenido %}
  
    <!--Contenido-->

    <div class="container my-espaciador">
      <div class="row justify-content-center">
        <div class="col text-center">
          <h5 class="my-text-font-50"><b>Nosotros Somos Reply Moda</b></h5>
          <p class="my-pt-30 my-text-font-24">
            Somos estudiantes de Ingenieria en informatica y esta es nuestra primera pagina web como modelo <br>
            <br>
            <p>Cristobal</p>
              <p>Brandon</p>
              <p>Matias</p>
                <p>Nicolas</p>
                <p>Cristofer</p>
          </p>
        </div>
      </div>
    </div>

{% endblock contenido %}