{% extends 'web/base.html' %}
{% load static %}
{% block contenido %}

    <!--contenido-->

    <div class="container my-espaciador">
      <div class="row">
        <div class="col-md my-mg-4">
          <a href="#"><img src="{% static 'app/img/Productos/Nina/14695201_1.jpg' %}" alt="" class="d-block w-100"></a>
        </div>
        <div class="col-md my-mg-4">
          <a href="#"><img src="{% static 'app/img/Productos/Nina/14807650_1.jpg' %}" alt="" class="d-block w-100"></a>
        </div>
        <div class="col-md my-mg-4">
          <a href="#"><img src="{% static 'app/img/Productos/Nina/881087451_1.jpg' %} " alt="" class="d-block w-100"></a>
        </div>
        <div class="col-md my-mg-4">
          <a href="#"><img src="{% static 'app/img/Productos/Nina/881822391_1.jpg' %}" alt="" class="d-block w-100"></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md my-mg-4">
          <a href="#"><img src="{% static 'app/img/Productos/Nina/881822509_1.jpg' %} " alt="" class="d-block w-100"></a>
        </div>
        <div class="col-md my-mg-4">
          <a href="#"><img src="{% static 'app/img/Productos/Nina/881979373_1.jpg' %}" alt="" class="d-block w-100"></a>
        </div>
        <div class="col-md my-mg-4"></div>
        <div class="col-md my-mg-4"></div>
      </div>
    </div>






    
{% endblock contenido %}