{% extends 'web/base.html' %}
{% load static %}
{% block contenido %}


     <!--contenido-->

     <div class="container my-espaciador">
      <div class="row">
        <div class="col-md my-mg-4">
          <a href="#"><img src="{% static 'app/img/Productos/Mujer/881008431_1.jpg'%} " alt="" class="d-block w-100"></a>
        </div>
        <div class="col-md my-mg-4">
          <a href="#"><img src="{% static 'app/img/Productos/Mujer/881103775_2.jpg'%} " alt="" class="d-block w-100"></a>
        </div>
        <div class="col-md my-mg-4">
          <a href="#"><img src="{% static 'app/img/Productos/Mujer/881520095_1.jpg"'%} " alt="" class="d-block w-100"></a>
        </div>
        <div class="col-md my-mg-4">
          <a href="#"><img src="{% static 'app/img/Productos/Mujer/881674522_2.jpg'%} " alt="" class="d-block w-100"></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md my-mg-4">
          <a href="#"><img src="{% static 'app/img/Productos/Mujer/882019802_1.jpg'%} " alt="" class="d-block w-100"></a>
        </div>
        <div class="col-md my-mg-4">
          <a href="#"><img src="{% static 'app/img/Productos/Mujer/882036363_1.jpg' %} " alt="" class="d-block w-100"></a>
        </div>
        <div class="col-md my-mg-4"></div>
        <div class="col-md my-mg-4"></div>
      </div>
    </div>

  {% endblock contenido %}