{% extends 'web/base.html' %}
{% load static %}
{% block contenido %}


    <!--contenido-->

    <div class="container my-espaciador">
      <div class="row">
        <div class="col-md my-mg-4">
          <a href="#"><img src="{% static 'app/img/11444238_1.jpg' %}" alt="" class="d-block w-100"></a>
        </div>
        <div class="col-md my-mg-4">
          <a href="#"><img src="{% static 'app/img/Productos/Hombre/11449986_1.jpg' %}" alt="" class="d-block w-100"></a>
        </div>
        <div class="col-md my-mg-4">
          <a href="#"><img src="{% static 'app/img/Productos/Hombre/881696623_1.jpg' %}" alt="" class="d-block w-100"></a>
        </div>
        <div class="col-md my-mg-4">
          <a href="#"><img src="{% static 'app/img/Productos/Hombre/881786908_1.jpg' %} " alt="" class="d-block w-100"></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md my-mg-4">
          <a href="#"><img src="{% static 'app/img/Productos/Hombre/881833761_1.jpg' %} " alt="" class="d-block w-100"></a>
        </div>
        <div class="col-md my-mg-4"></div>
        <div class="col-md my-mg-4"></div>
        <div class="col-md my-mg-4"></div>
      </div>
    </div>



  
    
    
{% endblock contenido %}