{% extends 'web/base.html' %}
{% load static %}
{% block contenido %}


    <!--contenido-->

    <div class="container my-espaciador">
      <div class="row">
        <div class="col-md my-mg-4">
          <a href="#"><img src="{% static 'app/img/881485332_1.jpg' %}" alt="" class="d-block w-100"></a>
        </div>
        <div class="col-md my-mg-4">
          <a href="#"><img src="../img/Productos/Nino/881762261_1.jpg" alt="" class="d-block w-100"></a>
        </div>
        <div class="col-md my-mg-4">
          <a href="#"><img src="../img/Productos/Nino/881762268_1.jpg" alt="" class="d-block w-100"></a>
        </div>
        <div class="col-md my-mg-4">
          <a href="#"><img src="../img/Productos/Nino/881823494_1.jpg" alt="" class="d-block w-100"></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md my-mg-4">
          <a href="#"><img src="../img/Productos/Nino/881827163_1.jpg" alt="" class="d-block w-100"></a>
        </div>
        <div class="col-md my-mg-4">
          <a href="#"><img src="../img/Productos/Nino/881827177_1.jpg" alt="" class="d-block w-100"></a>
        </div>
        <div class="col-md my-mg-4"></div>
        <div class="col-md my-mg-4"></div>
      </div>
    </div>


    
{% endblock contenido %}